Repository next-theme/hexo-theme-next, pull requests merged in 2020-08, with the labels that each got.

#72 Refactor vendors
  .gitattributes
  .gitignore
  _config.yml
  _vendors.yml
  layout/_partials/head/head.njk
  layout/_scripts/vendors.njk
  layout/_third-party/comments/disqusjs.njk
  layout/_third-party/comments/gitalk.njk
  layout/_third-party/comments/valine.njk
  layout/_third-party/math/katex.njk
  layout/_third-party/math/mathjax.njk
  layout/_third-party/quicklink.njk
  layout/_third-party/search/algolia-search.njk
  layout/_third-party/tags/mermaid.njk
  scripts/events/index.js
  scripts/events/lib/config.js
  scripts/events/lib/vendors.js
  scripts/filters/minify.js
  scripts/helpers/next-vendors.js
  source/lib/animate-css/animate.min.css
  source/lib/anime.min.js
  source/lib/font-awesome/css/all.min.css
  source/lib/font-awesome/webfonts/fa-brands-400.woff2
  source/lib/font-awesome/webfonts/fa-regular-400.woff2
  source/lib/font-awesome/webfonts/fa-solid-900.woff2
  test/validate/index.js
Labels: CSS, Configurations, Layout

#76 Fix .post-title-link position
  source/css/_common/components/post/post-header.styl
Labels: 🐞 Bug Fix

#74 Fix the problem that scroll position can't restored at page refresh after PJAX enabled.
  layout/_scripts/pjax.njk
Labels: To Do, 🐞 Bug Fix

#89 Support reprint statement
  languages/en.yml
  layout/_partials/post/post-copyright.njk
Labels: ⭐ Feature

#93 rating: color: fc6423 -> color: "#fc6423"
  _config.yml
Labels: Configurations

#91 New Crowdin updates
  languages/ar.yml
  languages/de.yml
  languages/es.yml
  languages/fa.yml
  languages/fr.yml
  languages/id.yml
  languages/it.yml
  languages/ja.yml
  languages/ko.yml
  languages/nl.yml
  languages/pt-BR.yml
  languages/pt.yml
  languages/ru.yml
  languages/tr.yml
  languages/uk.yml
  languages/vi.yml
  languages/zh-CN.yml
  languages/zh-HK.yml
  languages/zh-TW.yml
Labels: 🌍 i18n
