Repository next-theme/hexo-theme-next, pull requests merged in 2020-11, with the labels that each got.

#139 Feat: Adds an optional "copyright" in a post's front-matter which allows a user to change whether to show CC License notices under a post
  layout/_macro/post.njk
Labels: Layout, ⭐ Feature

#130 Use window size to determine sidebar display, and unify behaviour for margin and dimmer
  source/css/_common/outline/sidebar/sidebar-dimmer.styl
  source/js/utils.js
Labels: CSS, 🛠 Improvement

#143 Feat add hyperlink support to group-pictures
  scripts/tags/group-pictures.js
  test/tags/group-pictures.js
Labels: 🛠 Improvement
