Repository next-theme/hexo-theme-next, pull requests merged in 2020-07, with the labels that each got.

#41 Replace Velocity.js with Animate.css
  .gitignore
  _config.yml
  layout/_macro/sidebar.njk
  layout/_partials/head/head.njk
  layout/_partials/sidebar/site-overview.njk
  layout/_scripts/noscript.njk
  scripts/filters/minify.js
  scripts/helpers/next-vendors.js
  source/css/_common/components/post/post.styl
  source/css/_common/components/third-party/third-party.styl
  source/css/_common/outline/header/menu.styl
  source/css/_schemes/Pisces/_sidebar.styl
  source/js/motion.js
  source/js/next-boot.js
  source/js/schemes/muse.js
  source/lib/animate-css/animate.min.css
  source/lib/velocity/velocity.min.js
  source/lib/velocity/velocity.ui.min.js
Labels: 💥 Breaking Change

#42 The search button is invisible when search service was enabled but menu was empty.
  layout/_partials/header/menu.njk
Labels: 🐞 Bug Fix

#52 Optimize language selector
  source/js/utils.js
Labels: 🛠 Improvement

#61 Update CDN URL
  _config.yml
Labels: 🛠 Improvement

#58 Update for Hexo 5.0
  README.md
  docs/ru/README.md
  docs/zh-CN/README.md
  layout/page.njk
  scripts/helpers/tagcloud.js
Labels: Layout, 📖 Docs

#59 Unit testing using Mocha and Chai
  .gitattributes
  .github/workflows/linter.yml
  .npmignore
  gulpfile.js
  package.json
  scripts/helpers/engine.js
  scripts/helpers/font.js
  scripts/helpers/next-url.js
  scripts/tags/button.js
  scripts/tags/caniuse.js
  scripts/tags/center-quote.js
  scripts/tags/group-pictures.js
  scripts/tags/index.js
  scripts/tags/label.js
  scripts/tags/link-grid.js
  scripts/tags/mermaid.js
  scripts/tags/note.js
  scripts/tags/pdf.js
  scripts/tags/tabs.js
  scripts/tags/video.js
  test/helpers/font.js
  test/helpers/index.js
  test/helpers/next-url.js
  test/index.js
  test/tags/button.js
  test/tags/caniuse.js
  test/tags/center-quote.js
  test/tags/group-pictures.js
  test/tags/index.js
  test/tags/label.js
  test/tags/link-grid.js
  test/tags/mermaid.js
  test/tags/note.js
  test/tags/pdf.js
  test/tags/tabs.js
  test/tags/video.js
  test/validate/index.js
Labels: 🔌 3rd Party Plugin

#62 New Valine options
  _config.yml
Labels: Configurations

#64 Optimize local search
  layout/_partials/search/localsearch.njk
  scripts/helpers/next-config.js
  source/css/_common/components/third-party/search.styl
  source/js/local-search.js
Labels: CSS, Layout, 🛠 Improvement
