Repository next-theme/hexo-theme-next, pull requests merged in 2021-11, with the labels that each got.

#388 Add color-scheme CSS property
  source/css/_colors.styl
Labels: CSS

#402 Fix darkmode in local-search
  source/css/_common/components/third-party/search.styl
Labels: 🔌 3rd Party Plugin, 🐞 Bug Fix, CSS

#404 Fix body box-sizing
  source/css/_common/scaffolding/base.styl
Labels: 🐞 Bug Fix, CSS

#408 Add darkmode of DisqusJS
  source/css/_common/components/third-party/disqusjs.styl
  source/css/_common/components/third-party/index.styl
Labels: 🔌 3rd Party Plugin, 🐞 Bug Fix, CSS
