Repository next-theme/hexo-theme-next, pull requests merged in 2021-04, with the labels that each got.

#226 Separate inline scripts and styles into single files
  layout/_layout.njk
  layout/_partials/comments.njk
  layout/_partials/footer.njk
  layout/_partials/head/head-unique.njk
  layout/_partials/head/head.njk
  layout/_partials/page/schedule.njk
  layout/_partials/post/post-meta.njk
  layout/_scripts/index.njk
  layout/_scripts/noscript.njk
  scripts/filters/minify.js
  scripts/helpers/next-config.js
  scripts/tags/link-grid.js
  source/css/_common/components/post/post-header.styl
  source/css/_common/outline/footer/index.styl
  source/css/_common/scaffolding/tags/link-grid.styl
  source/css/noscript.styl
  source/js/comments-buttons.js
  source/js/comments.js
  source/js/load-config.js
  source/js/pjax.js
  test/tags/link-grid.js
Labels: CSS, Layout

#240 Minor fixes on #226
  layout/_layout.njk
  layout/_partials/head/head-unique.njk
  scripts/tags/link-grid.js
Labels: Layout

#236 Disable `margin` animation of `<body>`
  source/css/_common/scaffolding/base.styl
  source/css/_schemes/Muse/_sidebar.styl
Labels: CSS

#241 Separate third party inline scripts
  _config.yml
  layout/_layout.njk
  layout/_partials/head/head-unique.njk
  layout/_partials/head/head.njk
  layout/_third-party/analytics/baidu-analytics.njk
  layout/_third-party/analytics/google-analytics.njk
  layout/_third-party/analytics/growingio.njk
  layout/_third-party/chat/chatra.njk
  layout/_third-party/comments/changyan.njk
  layout/_third-party/comments/disqus.njk
  layout/_third-party/comments/disqusjs.njk
  layout/_third-party/comments/gitalk.njk
  layout/_third-party/comments/isso.njk
  layout/_third-party/comments/livere.njk
  layout/_third-party/comments/utterances.njk
  layout/_third-party/math/index.njk
  layout/_third-party/math/katex.njk
  layout/_third-party/math/mathjax.njk
  layout/_third-party/nprogress.njk
  layout/_third-party/quicklink.njk
  layout/_third-party/rating.njk
  layout/_third-party/search/algolia-search.njk
  layout/_third-party/search/localsearch.njk
  layout/_third-party/statistics/firestore.njk
  layout/_third-party/statistics/lean-analytics.njk
  layout/_third-party/tags/mermaid.njk
  layout/_third-party/tags/pdf.njk
  scripts/filters/minify.js
  scripts/helpers/engine.js
  scripts/helpers/next-config.js
  source/js/config.js
  source/js/load-config.js
  source/js/pjax.js
  source/js/third-party/analytics/baidu-analytics.js
  source/js/third-party/analytics/google-analytics.js
  source/js/third-party/analytics/growingio.js
  source/js/third-party/chat/chatra.js
  source/js/third-party/comments/changyan.js
  source/js/third-party/comments/disqus.js
  source/js/third-party/comments/disqusjs.js
  source/js/third-party/comments/gitalk.js
  source/js/third-party/comments/isso.js
  source/js/third-party/comments/livere.js
  source/js/third-party/comments/utterances.js
  source/js/third-party/math/katex.js
  source/js/third-party/math/mathjax.js
  source/js/third-party/nprogress.js
  source/js/third-party/quicklink.js
  source/js/third-party/rating.js
  source/js/third-party/search/algolia-search.js
  source/js/third-party/search/local-search.js
  source/js/third-party/statistics/firestore.js
  source/js/third-party/statistics/lean-analytics.js
  source/js/third-party/tags/mermaid.js
  source/js/third-party/tags/pdf.js
  source/js/utils.js
Labels: Configurations, Layout

#246 Overlay body scrollbar in all browsers
  source/css/_common/scaffolding/base.styl
  source/css/_mixins.styl
  source/css/_schemes/Pisces/_layout.styl
Labels: CSS

#248 New body scrollbar style option
  _config.yml
  source/css/_common/scaffolding/base.styl
  source/css/_mixins.styl
  source/css/_schemes/Pisces/_layout.styl
Labels: CSS, Configurations

#259 Make #241 backward compatible
  source/js/utils.js
Labels: Skip Release, 🛠 Improvement

#251 Remove internal scripts if `minify` is true and the CDN provider is not `local`
  scripts/filters/minify.js
Labels: 🛠 Improvement

#256 Fix scroll restoration
  source/js/pjax.js
Labels: 🐞 Bug Fix

#245 New Crowdin updates
  languages/zh-HK.yml
  languages/zh-TW.yml
Labels: 🌍 i18n
