Repository next-theme/hexo-theme-next, pull requests merged in 2021-05, with the labels that each got.

#247 Subresource Integrity
  layout/_partials/head/head.njk
  layout/_scripts/vendors.njk
  layout/_third-party/comments/disqusjs.njk
  layout/_third-party/comments/gitalk.njk
  layout/_third-party/math/katex.njk
  layout/_third-party/quicklink.njk
  layout/_third-party/search/algolia-search.njk
  layout/_third-party/statistics/firestore.njk
  scripts/events/lib/vendors.js
  scripts/helpers/engine.js
  source/js/utils.js
Labels: Layout, 🌟 New Feature

#257 feat: change gitalk default offical proxy
  _config.yml
Labels: Configurations

#267 Load Creative Commons badge via CDN
  _config.yml
  _vendors.yml
  layout/_partials/sidebar/site-overview.njk
  scripts/events/lib/vendors.js
  scripts/filters/locals.js
  source/images/cc-by-nc-nd.svg
  source/images/cc-by-nc-sa.svg
  source/images/cc-by-nc.svg
  source/images/cc-by-nd.svg
  source/images/cc-by-sa.svg
  source/images/cc-by.svg
  source/images/cc-zero.svg
Labels: Configurations, Layout, ⭐ Feature

#277 Move `comments.js` and `config.js` inject point
  layout/_layout.njk
  layout/_partials/comments.njk
  layout/_partials/head/head.njk
  layout/_scripts/index.njk
Labels: Layout

#279 Fix overwritten of non-object in CONFIG
  source/js/config.js
Labels: 🐞 Bug Fix

#282 Use passive scroll listeners
  source/js/bookmark.js
  source/js/schemes/muse.js
  source/js/utils.js
Labels: 🛠 Improvement
