Repository next-theme/hexo-theme-next, pull requests merged in 2021-06, with the labels that each got.

#289 Support Gitter Sidecar
  _config.yml
  layout/_partials/sidebar/site-overview.njk
  layout/_third-party/chat/chatra.njk
  layout/_third-party/chat/gitter.njk
  layout/_third-party/chat/tidio.njk
  layout/_third-party/index.njk
  source/css/_common/components/post/post-reward.styl
  source/css/_common/outline/sidebar/sidebar-button.styl
  source/css/_mixins.styl
  source/css/_schemes/Pisces/_sidebar.styl
  source/js/third-party/chat/gitter.js
Labels: CSS, Configurations, Layout, ⭐ Feature

#243 Fix scrolling for site overview
  layout/_macro/sidebar.njk
  source/css/_common/outline/sidebar/index.styl
Labels: CSS, Layout

#285 Add missing alt attribute to img elements
  layout/_partials/footer.njk
  layout/_partials/post/post-related.njk
Labels: Layout

#300 Add gitter integration in `minify.js`
  scripts/filters/minify.js
Labels: 🛠 Improvement

#294 Escape only `<` in front-end json
  scripts/helpers/engine.js
  source/js/config.js
Labels: 🛠 Improvement

#302 Correct meta viewport
  layout/_partials/head/head.njk
Labels: Layout, 🛠 Improvement

#303 Separate inline listeners
  layout/_partials/post/post-reward.njk
  layout/_partials/sidebar/site-overview.njk
  layout/_third-party/chat/tidio.njk
  source/js/next-boot.js
  source/js/third-party/chat/chatra.js
  source/js/third-party/chat/tidio.js
  source/js/utils.js
Labels: Layout, 🛠 Improvement
