Repository next-theme/hexo-theme-next, pull requests merged in 2021-02, with the labels that each got.

#192 Add external link icon options
  _config.yml
  scripts/filters/post.js
Labels: Configurations

#205 添加gitalk proxy设置
  _config.yml
  layout/_third-party/comments/gitalk.njk
Labels: Configurations, Layout

#207 Use minified js files for jsdelivr and cdnjs
  scripts/helpers/engine.js
Labels: 🛠 Improvement

#201 New Crowdin updates
  languages/pt-BR.yml
  languages/si.yml
Labels: 🌍 i18n
