Repository next-theme/hexo-theme-next, pull requests merged in 2021-12, with the labels that each got.

#416 Fix multiple h1 tag
  layout/_macro/post.njk
  layout/_partials/header/brand.njk
  layout/_partials/header/index.njk
  layout/_partials/header/menu.njk
  layout/_partials/sidebar/site-overview.njk
  layout/category.njk
  layout/index.njk
  layout/page.njk
  layout/tag.njk
  source/css/_common/outline/header/site-meta.styl
Labels: 🛠 Improvement, CSS, Layout

#428 Custom CDN options
  _config.yml
  scripts/events/lib/utils.js
  scripts/events/lib/vendors.js
  scripts/helpers/engine.js
Labels: 💥 Breaking Change, Configurations

#415 Optimize changyan comment
  scripts/filters/comment/changyan.js
  source/js/third-party/comments/changyan.js
Labels: 🔌 3rd Party Plugin, 🛠 Improvement

#423 New Crowdin updates
  languages/tk.yml
Labels: 🌍 i18n
