Repository next-theme/hexo-theme-next, pull requests merged in 2021-03, with the labels that each got.

#223 Use CSS transitions to animate `site-nav`
  source/css/_common/outline/header/site-nav.styl
  source/css/_mixins.styl
  source/css/_schemes/Pisces/_menu.styl
  source/js/next-boot.js
  source/js/utils.js
Labels: CSS

#221 New reversed reading progess bar option
  _config.yml
  source/css/_common/components/reading-progress.styl
  source/js/utils.js
Labels: CSS, Configurations

#234 Add aria-label for buttons and selects
  languages/en.yml
  languages/zh-CN.yml
  layout/_macro/sidebar.njk
  layout/_partials/languages.njk
  layout/_partials/widgets.njk
Labels: Layout, 🌍 i18n

#238 New Crowdin updates
  languages/ar.yml
  languages/de.yml
  languages/es.yml
  languages/fa.yml
  languages/fr.yml
  languages/id.yml
  languages/it.yml
  languages/ja.yml
  languages/ko.yml
  languages/nl.yml
  languages/pt-BR.yml
  languages/pt.yml
  languages/ru.yml
  languages/si.yml
  languages/tr.yml
  languages/uk.yml
  languages/vi.yml
  languages/zh-HK.yml
  languages/zh-TW.yml
Labels: 🌍 i18n
