Repository next-theme/hexo-theme-next, pull requests merged in 2021-09, with the labels that each got.

#360 Calculate `--sidebar-wrapper-height` in pure CSS
  layout/_macro/sidebar.njk
  source/css/_common/outline/sidebar/index.styl
  source/css/_common/outline/sidebar/sidebar-nav.styl
  source/js/next-boot.js
  source/js/utils.js
Labels: 🛠 Improvement, CSS, Layout, 🎯 Roadmap

#361 Make the nav bar of tabs with long content stick to the top
  _config.yml
  scripts/helpers/next-config.js
  source/css/_common/scaffolding/tags/tabs.styl
  source/js/utils.js
Labels: Configurations, CSS, 🎯 Roadmap, ⭐ Feature

#369 Move local-search.js to hexo-generator-searchdb
  _vendors.yml
  layout/_third-party/search/localsearch.njk
  source/js/third-party/search/local-search.js
Labels: 🔌 3rd Party Plugin, Layout, 🎯 Roadmap

#381 Typo fix
  .gitignore
  _config.yml
Labels: Configurations

#378 Dark mode support for theme_color
  _config.yml
  layout/_partials/head/head.njk
  source/css/_colors.styl
  source/css/_common/components/reading-progress.styl
  source/css/_common/outline/footer/index.styl
  source/css/_common/outline/header/bookmark.styl
  source/css/_common/outline/header/github-banner.styl
  source/css/_common/scaffolding/tags/pdf.styl
  source/css/_schemes/Pisces/_header.styl
  source/css/_variables/base.styl
Labels: Configurations, CSS, Layout
