Repository next-theme/hexo-theme-next, pull requests merged in 2021-07, with the labels that each got.

#308 Fix scroll in sidebar
  layout/_macro/sidebar.njk
Labels: Layout, 🐞 Bug Fix

#328 Add anchor id to fragment part
  source/js/utils.js
Labels: 🐞 Bug Fix

#320 Install curlylint
  .github/workflows/linter.yml
  layout/_macro/sidebar.njk
  layout/_partials/post/post-meta.njk
  layout/_partials/sidebar/site-overview.njk
  source/css/_common/components/post/post-header.styl
Labels: Actions, CSS, Layout

#322 Correct scroll offset
  source/css/_common/components/post/post-body.styl
  source/css/_common/outline/mobile.styl
  source/css/_common/scaffolding/base.styl
  source/js/utils.js
Labels: CSS, 🐞 Bug Fix

#332 New Crowdin updates
  languages/tr.yml
Labels: 🌍 i18n
