Repository next-theme/hexo-theme-next, pull requests merged in 2022-11, with the labels that each got.

#569 Add Umami and Plausible Analytics
  _config.yml
  layout/_third-party/analytics/index.njk
  layout/_third-party/analytics/plausible.njk
  layout/_third-party/analytics/umami.njk
Labels: 🔌 3rd Party Plugin, Configurations, Layout

#595 Create issue forms
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/other.md
  .github/ISSUE_TEMPLATE/other.yml
Labels: 🛠 Improvement

#597 Improve accessibility
  layout/_partials/header/brand.njk
  layout/_partials/pagination.njk
  scripts/helpers/next-paginator.js
Labels: 🛠 Improvement, Layout

#593 Putting blogroll and related-posts in separate sidebar-inner elements
  _config.yml
  layout/_macro/post.njk
  layout/_macro/sidebar.njk
  layout/_partials/post/post-related.njk
  layout/_partials/sidebar/site-overview.njk
  source/css/_common/components/third-party/index.styl
  source/css/_common/components/third-party/related-posts.styl
  source/css/_common/outline/sidebar/index.styl
  source/css/_common/outline/sidebar/related-posts.styl
  source/css/_common/outline/sidebar/sidebar-blogroll.styl
  source/css/_common/outline/sidebar/sidebar-nav.styl
  source/css/_schemes/Muse/_sidebar.styl
  source/css/_schemes/Pisces/_sidebar.styl
  source/css/noscript.styl
  source/js/motion.js
  source/js/pjax.js
  source/js/utils.js
Labels: 🔌 3rd Party Plugin, Configurations, CSS, Layout, ⭐ Feature
