Repository next-theme/hexo-theme-next, pull requests merged in 2022-05, with the labels that each got.

#507 avoid setting jsdelivr as default option
  _config.yml
Labels: 🔌 3rd Party Plugin, 🛠 Improvement, Configurations

#508 Optimize the position of copy-button
  scripts/helpers/next-config.js
  source/css/_common/scaffolding/highlight/copy-code.styl
  source/js/next-boot.js
  source/js/utils.js
Labels: CSS

#514 Minify algolia logo if not enabled
  scripts/filters/minify.js
Labels: 🛠 Improvement

#520 Fix double quotes inside cloudflare analytics HTML attribute
  layout/_third-party/analytics/cloudflare.njk
Labels: 🔌 3rd Party Plugin, 🐞 Bug Fix, Layout
