Repository next-theme/hexo-theme-next, pull requests merged in 2022-03, with the labels that each got.

#479 Fix Mist style with sub menu
  source/css/_schemes/Mist/_posts-expand.styl
Labels: 🛠 Improvement, CSS

#480 Update microsoft-clarity.njk
  layout/_third-party/analytics/microsoft-clarity.njk
Labels: 🔌 3rd Party Plugin, 🐞 Bug Fix, Layout

#492 Refactor sub-menu
  layout/_partials/header/menu-item.njk
  layout/_partials/header/menu.njk
  layout/_partials/header/sub-menu.njk
  layout/_partials/page/breadcrumb.njk
  scripts/events/index.js
  scripts/events/lib/navigation.js
  scripts/helpers/navigation.js
Labels: 💥 Breaking Change, 🛠 Improvement, Layout, 🎯 Roadmap

#483 New Crowdin updates
  languages/ko.yml
Labels: 🌍 i18n
