Repository next-theme/hexo-theme-next, pull requests merged in 2022-10, with the labels that each got.

#570 Add changyan count configuration
  _config.yml
  scripts/filters/comment/changyan.js
Labels: Configurations

#283 New action Pull Request Reminder
  .github/workflows/pr-reminder.yml
Labels: Actions

#583 Mitigate DOM reflow with wrapTableWithBox
  source/css/_common/scaffolding/highlight/index.styl
Labels: 🛠 Improvement, CSS

#577 Add preload tag for main.css
  _config.yml
  layout/_partials/head/head.njk
Labels: Configurations, Layout, ⭐ Feature
