Repository next-theme/hexo-theme-next, pull requests merged in 2022-02, with the labels that each got.

#447 Replace hexo-related-popular-posts with hexo-related-posts
  _config.yml
  layout/_partials/post/post-related.njk
Labels: Configurations, Layout, ⭐ Feature

#448 Support customize open_graph information
  _config.yml
  layout/_partials/head/head-unique.njk
Labels: 📖 Docs, Configurations, Layout, ⭐ Feature

#436 New Crowdin updates
  languages/bn.yml
  languages/es.yml
  languages/ru.yml
Labels: 🌍 i18n

#459 improve config template
  _config.yml
Labels: Configurations

#460 Fix error for null `theme.open_graph.options`
  _config.yml
Labels: Configurations

#470 Fix error for null `theme.open_graph.options` (instead #460)
  _config.yml
  layout/_partials/head/head-unique.njk
Labels: Configurations, Layout

#450 Fix QQ share meta information
  layout/_macro/post.njk
Labels: 🐞 Bug Fix, Layout
