Repository next-theme/hexo-theme-next, pull requests merged in 2022-08, with the labels that each got.

#555 Fix server_url for lean-analytics
  source/js/third-party/statistics/lean-analytics.js
Labels: 🔌 3rd Party Plugin, 🐞 Bug Fix

#553 Add matomo as an analytics provider
  _config.yml
  layout/_third-party/analytics/index.njk
  layout/_third-party/analytics/matomo.njk
  source/js/third-party/analytics/matomo.js
Labels: 🔌 3rd Party Plugin, Configurations, Layout

#529 Upgrade to disqusjs@3
  _vendors.yml
  scripts/filters/comment/disqusjs.js
  source/js/third-party/comments/disqusjs.js
Labels: 🔌 3rd Party Plugin, ⭐ Feature
