Repository next-theme/hexo-theme-next, pull requests merged in 2023-03, with the labels that each got.

#323 Animate nav item and panel activation
  source/css/_common/outline/sidebar/sidebar-nav.styl
  source/css/_common/outline/sidebar/sidebar-toc.styl
  source/css/_variables/base.styl
  source/js/pjax.js
  source/js/utils.js
Labels: CSS, ⭐ Feature

#615 Remove hidden .site-nav from accessibility tree
  source/css/_mixins.styl
Labels: 🛠 Improvement, CSS

#616 fix: using absolute path githooks
  .githooks/install.js
Labels: 🐞 Bug Fix, Actions
