Repository next-theme/hexo-theme-next, pull requests merged in 2023-04, with the labels that each got.

#630 New Crowdin updates
  languages/ar.yml
  languages/bn.yml
  languages/de.yml
  languages/es.yml
  languages/fa.yml
  languages/fr.yml
  languages/id.yml
  languages/it.yml
  languages/ja.yml
  languages/ko.yml
  languages/nl.yml
  languages/pt-BR.yml
  languages/pt.yml
  languages/ru.yml
  languages/si.yml
  languages/th.yml
  languages/tk.yml
  languages/tr.yml
  languages/uk.yml
  languages/vi.yml
  languages/zh-CN.yml
  languages/zh-HK.yml
  languages/zh-TW.yml
Labels: 🌍 i18n

#633 Support AddToAny share
  _config.yml
  layout/_partials/post/post-share.njk
  layout/_third-party/addtoany.njk
  layout/_third-party/index.njk
  source/css/_common/components/post/post-widgets.styl
  source/js/third-party/addtoany.js
Labels: 🔌 3rd Party Plugin, Configurations, CSS, Layout, 🌟 New Feature

#638 Update umima to use cdn
  _config.yml
  layout/_third-party/analytics/umami.njk
Labels: 🔌 3rd Party Plugin, Configurations, Layout, ⭐ Feature

#646 Feat: Add new inject point - postBodyStart
  _config.yml
  layout/_macro/post.njk
  scripts/events/lib/utils.js
Labels: Configurations, Layout, ⭐ Feature
