Repository next-theme/hexo-theme-next, pull requests merged in 2024-09, with the labels that each got.

#804 Trigger Search Event when user presses Ctrl + K
  source/js/third-party/search/algolia-search.js
  source/js/third-party/search/local-search.js
Labels: 🔌 3rd Party Plugin, 🌟 New Feature

#828 fix: support dark mode for note tags in modern style
  source/css/_common/scaffolding/tags/note.styl
  source/css/_variables/base.styl
Labels: CSS

#796 New Crowdin updates
  languages/pt.yml
  languages/zh-HK.yml
  languages/zh-TW.yml
Labels: 🌍 i18n
