Repository next-theme/hexo-theme-next, pull requests merged in 2025-03, with the labels that each got.

#871 Fix missing pjax on Web Archive
  source/js/pjax.js
Labels: 🛠 Improvement

#683 perf: Optimize comments.js file loading condition
  layout/_scripts/index.njk
Labels: 🛠 Improvement, Layout

#837 Supports customizing the width of the follow-me QR code
  source/css/_common/components/post/post-followme.styl
  source/css/_variables/base.styl
Labels: CSS
